{% extends "default.html" %}
{% block content %}
    <div row>
    {% for pic in tl %}
        <div class="container col-lg-4">
            <div class="tag">{% for tag in pic.tags %}
                {{ tag.name }}
            {% endfor %}
            </div>
            <img src="{{ pic.picture }}">
            <div class="date">{{ pic.date }}</div>
            <div class="userName">{{ pic.name }}</div>
            <form action="" method="POST">
                <button class="good" value="1">Good</button>
                <div class="goods">{{ pic.Good }}</div>
                <button class="bad" value="0">bad</button>
                <div class="bads">{{ pic.bads }}</div>
            </form>
        </div>
    {% endfor %}
    </div>
{% endblock %}