{% extends "default.html" %}
{% block content %}
    <div class="text-center">
        <div class="row center-block">
            <div class="col-lg-1"></div>
        {% for pic in tl %}
            <div class="panel-default panel col-lg-3 col-xs-12">
                <div class="panel-body">
                <div class="tag">{% for tag in pic.tag_set.all %}
                    {{ tag.name }}
                {% endfor %}
                </div>
                <a href="#" class="thumbnail">
                    <img src="../static/photos/{{ pic.photosdata_set.first }}">
                </a>
                <div class="date">{{ pic }}</div>
                <div class="userName">{{ pic.user_id }}</div>
                {% if user == null %}
                {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/reaction/good/" method="post">
                          {% csrf_token %}
                          <button value="good" type="submit">Good <span class="badge">{{ pic.good_set.all.count }}</span></button>
                          <input type="hidden" name="post_id" value="{{ pic.id }}">
                         </form>
                        </div>
                        <div class="col-md-6">
                            <form action="/reaction/bad/" method="post">
                        {% csrf_token %}
                        <button value="bad" type="submit">Bad <span class="badge">{{ pic.bad_set.all.count }}</span></button>
                        <input type="hidden" name="post_id" value="{{ pic.id }}">
                     </form>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
