{% extends "default.html" %}
{% block title %}LogIn{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <h1>LOGIN</h1>
           <form action="/login" method="POST">
             {% csrf_token %}
             <h2>NAME</h2>
             <input name="username" type="text">
             <h2>PASSWORD</h2>
             <input name="password" type="password">
             <button type="submit">LOGIN</button>
          </form>
        </div>
    </div>
{% endblock %}