{% extends "default.html" %}
{% block title %}Resister{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <h1>Register</h1>
           <form action="/register/" method="POST">
             {% csrf_token %}
             <h2>NAME</h2>
             <input name="username" type="text">
             <h2>PASSWORD</h2>
             <input name="password" type="password">
             <h2>REPASSWORD</h2>
             <input name="repassword" type="password">
             <button type="submit">REGISTER</button>
          </form>
        </div>
    </div>
{% endblock %}
